.modal-header {
    background-color: #4267b2;
  }
  
  
  a#next_btn {
    background-color: #0760b4 !important;
  }
  a#skip_btn {
    background-color: #0760b4 !important;
    color: #fff;
    padding: 8px 30px;
  }
  a.btn.btn-raised.pull-right.preview-btn{
  background-color: #0760b4 !important;
  }
  a#make_payment{
  background-color: #0760b4 !important;
  }
  
  @media(max-width:967px){
      .customIcon [class^="icon-"] {
      font-family: 'icons-custom' !important;
      }
      .mobilePopHover{display:block !important;}
      .desktopPopHover{display:none !important;}
      .imagePointerPopHover {
       z-index:1 !important;
      }
      }
      @media(min-width:968px){
      .customIcon [class^="icon-"] {
      font-family: 'newicons' !important;
      }
      .mobilePopHover{display:none !important;}
      .desktopPopHover{display:block !important;}
      }
      .npf-form-group .profile_image .form-group.has-error .requiredError{position:relative;}
  
      
  
      /* cyrillic-ext */
  @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
      unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
      unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
      unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
      unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
      unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
      unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
      unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
      unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
  
        body{font-family:Roboto,sans-serif;font-weight:400;}
        b,strong,th{font-family:Roboto,sans-serif;font-weight:700}
        h1,.h2,.h3,.h4,h1,h2,h3,h4,h5,h6{font-family:Roboto,sans-serif}
        .btn:not(.btn-raised),.btn:not(.btn-raised).btn-default,.form-group.formAreaCols #formsubmitbtn,.input-group-btn .btn:not(.btn-raised),.input-group-btn .btn:not(.btn-raised).btn-default,.lovelyprofessionaluniversity .cont-btn,.lovelyprofessionaluniversity .countFormNpf{font-family:Roboto}
        .bottomButton .btn-group-raised .btn:not(.btn-link),.bottomButton .btn-group-raised .input-group-btn .btn:not(.btn-link),.bottomButton .btn.btn-raised:not(.btn-link),.bottomButton .input-group-btn .btn.btn-raised:not(.btn-link){font-family:Roboto!important}a.query-ticket-btn{background-color:#dbdad8;font-family:Roboto}
        #home > div > div.table-header > table > thead > tr > th.col3.text-center {padding: 8px 7px;}
        .form-group>label{font-family:Roboto,sans-serif}button, input, select, textarea{font-family:Roboto,sans-serif}
        .nav-sidebar>li.active>a {font-family:Roboto,sans-serif}
        .smlFont.complete{font-family:Roboto,sans-serif}
        .open .cont-btn {right: 430px;}
        .cont-btn {right: -70px;}
        .tabmenu>li.active>a{background-color: #0760b4;}   
        .cont-btn{background-color: #0760b4;color: #fff;}
        .cont-btn:hover{color: #fff;}
        a.btn.btn-danger.btn-sm {background-color: #428fc9;  border-color: #fc612d;}
        .btn-brand{background-color: #0760b4;}    
        .qms-form .npf-btn {background-color: #8cbade !important;} 
       
        table.table.table-bordered.cat1.incomplete.category_form_13 {border-left-color: #0760b4 !important;}
        .nav-sidebar .nav-child>li.active>a {color: #fff;background-color: #0760b4;}
        .nav-sidebar>li>ul {color: #fff; /* background-color: #f37402; */}
        .nav-sidebar>li {border-bottom: 1px solid rgba(191, 190, 190, 0.2);}
        .col-sm-3.col-md-3.col-lg-2.sidebar {background-color: #fc612d !important;}
        .nav-sidebar>li>a{color: #fff;}
        .nav-sidebar .nav-child>li>a{color: #fff;}    
        .col-sm-9.col-md-9.col-lg-10.main {background-color: #f1f3fa !important;}
        .tabmenu>li>a{color: #9d9d9d;}    
        .qrc{color: #9d9d9d;}
        div#home {color: #666!important;}
        b, strong, th {font-weight: 600;color: #666;}  
        h4.sub-header.category_13 {color: #428fc9 !important;}
        h3.mb-25 {color: #666;}
        .btn-npf, .btn-npf:focus{background-color: #0760b4 !important;}
        .form-page .owl-item .items-normal.current-stage, .form-page .owl-item .items-normal.current-stage:hover {background-color: #0760b4;}
        .form-page .owl-item .items-normal.active, .form-page .owl-item .items-normal:hover {background-color: #0760b4a8; color: #fff;}
        .query-ticket-btn:hover, .query-ticket-btn:focus {background-color: #0760b4;}
        #QueryForm .chosen-drop .chosen-results .active-result.highlighted {background-color:#0760b4!important;}
        .msg_receive {background-color: #f37402;color: #fff;}
        body > div.main-content.fadeIn > div > div > div.col-sm-9.col-md-9.col-lg-10.main > div.chat-screen > div > div.panel-body.msg_container_base > div > div > div > div > p > time > strong {color:#fff !important;}
        .btn-brand:hover {background-color: #680935;}
        a.count-link {color: #0760b4;}
        .form-page .owl-item .item.current-stage p {color: #0760b4;}
        .form-page .progress .current-progress {background-color: #0760b4;}
        .form-page .progress .npf-progress-bar {  background-color: #0760b4!important;}
         h1#form_heading_title {font-size: 25px;} 
         .countFormNpf {background-color: #0760b4bf;}
         h1#form_heading_title {font-size: 25px;}
        .active-result.result-selected.highlighted,.chosen-container .chosen-results li.highlighted{background-color:#0760b4!important}
        .form-control{font-size:14px}
        .form-group.formAreaCols h3{font-size:14px}.nav-sidebar .nav-child>li>a,.table-krea th{font-size:14px}    
        .bottomButton .btn.btn-raised:not(.btn-link), .bottomButton .input-group-btn .btn.btn-raised:not(.btn-link), .bottomButton .btn-group-raised .btn:not(.btn-link), .bottomButton .btn-group-raised .input-group-btn .btn:not(.btn-link) {    background-color: #428fc9 !important;}
        .checkbox input[type=checkbox]:checked+.checkbox-material .check:before,.navbar .dropdown-menu li>a:focus,.navbar .dropdown-menu li>a:hover,.navbar.navbar-default .dropdown-menu li>a:focus,.navbar.navbar-default .dropdown-menu li>a:hover {color:#0760b4;}
        .icon-i.infoIco {background: #0760b4 none repeat scroll 0 0;}
        .npf-accordion .accordion-group ul li {color: #484848;font-size:14px;}
        .radio input[type=radio]:checked ~ .check {background-color: #0760b4;}
        .radio input[type=radio]:checked ~ .circle {border-color: #0760b4;}
         h1#form_heading_title {font-size: 22px;} 
         .npf-form-group .form-group.is-focused .form-control {border: solid 1px #0760b4!important; color: #000 !important;}
         a.query-ticket-btn {background-color: #F1F3FA;font-family: Roboto;}
        .text-danger, .classOpen {color: #0760b4;}
        .btn-npf:hover { background-color: #3777a7!important;color: #fff!important;}
        .qms-form .npf-btn {background-color: #428fc9 !important;}
        .bottomButton .btn.btn-raised:not(.btn-link), .bottomButton .input-group-btn .btn.btn-raised:not(.btn-link), .bottomButton .btn-group-raised .btn:not(.btn-link), .bottomButton .btn-group-raised .input-group-btn .btn:not(.btn-link) {font-size:14px;}
        .btn, .input-group-btn .btn {font-size:16px;}
        .npf-accordion .accordion-group ul li {font-size:14px;}
        #npf-instruction > div > ul > li > ul > li:nth-child(2) > ul > li {font-size: 14px;}
        .form-page .owl-item .item.active span {color: #fff;}
        .checkbox input[type=checkbox]:checked + .checkbox-material .check { color: #0760b4;border-color: #0760b4;}
        .filedropdwn span.total_files { color: #0760b4;}
           .filedropdwn i {color: #0760b4;}
            .help_text {font-size:11px;}
           .npf-form-group .form-group.has-error .requiredError {font-weight:400}
        .requiredError {font-weight:400}
        .btn, .input-group-btn .btn {
          font-size: 14px;}
      .merge_field_div label.control-label {
         font-family: Roboto,sans-serif;
          }
        
        
        .form-control.textfield {
          color: #000 !important;
      }
        
      .form-group.formAreaCols h3 {
          font-size: 18px;
      }
      
      .table-responsive.pretbl {
          color: #000 !important;
      }
      
      .npf-form-group .form-group label.control-label {
          color: #000;
          font-weight: 500;
      }
      
      .form-control {
          color: #000 !important;
      }       
      
      td#td_field_117925_1_4 {
          width: 8%;
      }
      td#td_field_117925_1_6 {
          width: 10%;
      }
      td#td_field_117925_1_5 {
          width: 15%;
      }
      td#td_field_117925_1_3 {
          width: 12%;
      }
      td#td_field_117925_1_2 {
          width: 23%;
      }
      
      td#td_field_117925_1_1 {
          width: 19%;
      }
      
      td#td_field_117925_1_3 {
          width: 22%;
      }
      
      td#td_field_117925_1_4 {
          width: 20%;
      }
      td#td_field_112588_1_4 {
          width: 9%;
      }
      
      td#td_field_112588_1_5 {
          width: 15%;
      }
      
      td#td_field_112588_1_6 {
          width: 9%;
      }
      td_field_112588_1_3{
      width: 9%;
      }
            
      li.active > a {
          background-color: #0760b4;
      }
      li.active >a:hover {
          background-color: #fc612d;
      }
      h4.sub-header.category_66 {
          color: #fc612d !important;
      }
      table.table.table-bordered.cat1.incomplete.category_form_66 {
          border-left-color: #0760b4 !important;
      }
      body > div.main-content.fadeIn > div > div > div.col-sm-3.col-md-3.col-lg-2.sidebar > ul > li:nth-child(2) > ul > div > div.simplebar-scroll-content > div > ul > li {
          color: #0760b4 !important;
      }
      table.table.table-bordered.cat1.untouch.category_form_66 {
          border-left-color: #0760b4 !important;
      }
      #save_data > div.form_build > div:nth-child(1) > div > div > ol > li {
          line-height: 24px;
          color: #000 !important;
      }
      #npf-form > div.owl-wrapper-outer > div > div:nth-child(1) > div > p {
          margin-bottom: 3px;
      }
      
      .form-page .owl-item .items-normal:hover {
          background-color: #fc612d;
      }
      .btn-success {
          background-color: #0760b4;
      }
  
  #home > div > div.table-body > div > table > tbody > tr > td.col5.text-center > a {
      background-color: #fc612d;
  }    
  
  .form-page .owl-item .item.current-stage .c100:after, .form-page .owl-item .item.current-stage:hover .c100:after {
      background-color: #0760b4!important;
  }
  div.c100.green.small > div > div.bar, div.c100.green.small > div > div.fill {
      border-color: #fc612d!important;
  } 
  .form-page .owl-item .item.active .c100:after, .form-page .owl-item .item:hover .c100:after {
      background-color: #9c92a2!important;
  }
  
  raised:not(.btn-link), .bottomButton .input-group-btn .btn.btn-raised:not(.btn-link), .bottomButton .btn-group-raised .btn:not(.btn-link), .bottomButton .btn-group-raised .input-group-btn .btn:not(.btn-link) {
      background-color: #0760b4 !important;
  }
  label {
      margin: 2px;
  }
  
  h3.marginNone {
      background: #68cd42;
      color: white;
      line-height: 2;
  text-align: center;
  }
  .col-md-6.field_140573.textbox {
      float: right;
  }
  
  /** Mobile View **/
  
  .form-page .owl-item .item.current-stage .item-inner .itemCon, .form-page .owl-item .item.current-stage:hover .item-inner .itemCon {
      background-color:#0760b4;
  }
  div.c100.green.small >div >div.bar, div.c100.green.small >div >div.fill {
      border-color: #fc612d!important;
  }
  .form-title {
      color: #0760b4;
  }
  .form-page .panel > .panel-heading, .form-page .panel.panel-default > .panel-heading {
      background-color:#fc612d;
  }
  
  .c100.green .bar, .c100.green .fill {
      border-color: #fc612d!important;
  }
  .panel-custom .panel-heading.active a, .panel-custom .panel-heading.active .qrc {
      background-color: #0760b4;
  }
  .form-page .owl-item .item.active .item-inner .itemCon {
      background-color: #b68cd4bf;
  }
  .form-page .item.active .itemLine {
      border-color: #0760b4;
  }
  .form-page .owl-item .item.active .item-inner .itemCon, .form-page .owl-item .item:hover .item-inner .itemCon {
    background-color: #c8a8df;
    color: #fff;
  }
  
  
  .desk_img {
    display:inline-block;
  }
  .mob_img {
    display:none;
  }
  
  .second {
    margin-right: 15px;
    margin-top:2px;
  }
  
  @Media(max-width:767px){
    .first {
        padding:5px;
        font-size:11px;
    }
    .second {
        margin-right: 8px;
        margin-top:-3px;
    }
    .desk_img {
        display:none;
    }
    .mob_img {
        display:inline-block;
    }
  }
  
  .faqss {
    margin-left: 15px;
    margin-right: 15px;
    padding: 1px 15px;
  }
  @media (max-width: 767px) {
    .pull-right.first{
        float: none !important;
    }
  }
  .deadline{
  color: #fff;
  font-weight: 100;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: center;
  }
  
  #clockdiv{
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
  position:relative;
  }
  
  #clockdiv > div{
  padding: 5px 5px;
  border-radius: 3px;
  background: #0760b4;
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 0;
  position: relative;
  z-index:99999;
  }
  
  #clockdiv div > span{
  padding: 0px 14px;
  border-radius: 3px;
  background: #fb6531;
  display: inline-block;
  font-size: 17px;
  position:relative;
  z-index:999999;
  line-height:28px;
  }
  
  .smalltext{
  padding-top: 0px;
  font-size: 11px;
  }
  .temer_div {
    position: absolute;
    top: -57px;
    right: 178px;
  z-index:999;
  }
  .timer.sec {
  
  background-color: transparent;
  
  /* padding: 5px 10px; */
  
  border-radius: 10px;
  
  display: inline-block;
  
  padding-left: 0px;
  
  font-family: sans-serif;
  
  padding-top: 3px;
  }
  
  .timer_div {
    margin: 0;
  }
  .main .page-header a.pfs {
    font-size: 15px;
    background-color: #294a70;
    color: #ffffff;
    margin: 0;
    padding: 2px 9px;
    margin-right: 5px;
    float: right;
    border-radius: 5px;
  }
  .main .page-header a.pfs:hover {
    background-color: #37608e;
  }
  
  .main a.pfs {
    font-size: 14px;
    background-color: #294a70;
    color: #ffffff;
    margin: 0;
   padding: 6px 20px;
    margin-right: 5px;
    border-radius: 5px;
  }
  .main a.pfs:hover {
    background-color: #37608e;
  }
  
  .second-div {
    text-align: center;
  }
  
  
  p.headdd {
    float: right;
  }
  
  
  #gdpicarousel_15315 .carousel-inner .item h2 strong {
      color: #fff !important;
  }
  
  div#gdpicarousel_15315 .carousel-inner .item{
          background: #0860b4 !important;
  }
  #home >div >div.table-body >div >table >tbody >tr >td.col5.text-center >a {
      background-color: #0760b4;
  }
  .chosen-container .chosen-results li.highlighted{
  color:#fff !important
  }
  
  
  .list{
          list-style: none;
      }
    
     .list li{
      position: relative;
  }
  .list li:before{
      position: absolute;
      content: '\2605';
      top: 0px;
      left: -16px;
      width: 5px;
      height: 5px;
      color: black;
  }
  .chosen-container .chosen-results li.active-result:first-child{color: inherit;}


  /* benner */
  div#SuccessPopupArea .modal-header {display:table}


  
/* For astric */
  .field_49677 .formAreaCols .control-label{
    display:inline-block !important;
    
}

.field_49677 .formAreaCols .control-label + .vertical{
    display:inline-block;
    padding-left:10px;
}